/*Note: Use this stylesheet for website consistency, place above the page specific stylesheet */

/*Global Effects and Media Queries*/

html,
body {
    font-size: 16px;
}

@media only screen and (max-width: 544px) {
    html,
    body {
        font-size: 12px;
    }

    div.socialbtns li {
        padding: 0 8px;
    }
}

/*Navigation Bar*/

/*overrides bootstrap theme*/

button {
    margin: 0 auto;
}

.nav_ve {
    color: #7FA829;
    font-family: 'Delius Swash Caps', cursive;
}

nav.navStyling {
    padding: 0 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    box-shadow: 0.5px 2px #f8f0ed;
}

nav a.disabled::after {
    content: " coming soon ♥";
    font-size: 0.5rem;
    color: #d43d3d;
    position: relative;
    top: -7px;
    padding-right: 0;
}

div.socialbtns li {
    display: inline-block;
}

div.socialbtns a.nav-link > i {
    color: white;
    font-size: 1.7rem;
}

div.socialbtns a.nav-link > i:hover {
    color: #78778A !important;
}

/*Footer*/
.footerStyle {
    font-family: 'Roboto Slab', serif;
    color: #1d1d1d;
    font-size: 1rem;
}
#cfg_logo {
    width: 149.797px;
}

footer .container-fluid {
    margin-top: 28px;
    background-color: rgba(124, 122, 150, 0.47);
    border-top: 2px solid white;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
