/*Note: Use this stylesheet for website consistency, place above the page specific stylesheet */

/*Global Effects and Media Queries*/

html,
body {
    font-size: 16px;
    /*make all font sizes REM so font size can be responsive to viewport*/
}

@media only screen and (max-width: 544px) {
    html,
    body {
        font-size: 12px;
    }
}

/*Navigation Bar*/

button {
    margin: 0 auto;
}

div.social li {
    display: inline-block;
}

.vegan_ve {
    color: #9acd32;
    font-family: 'Delius Swash Caps', cursive;
}

nav.navStyling {
    padding: 0 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    box-shadow: 0.5px 2px #f8f0ed;
}

nav a.disabled::after {
    content: " coming soon ♥";
    font-size: 0.5rem;
    color: #d43d3d;
    position: relative;
    top: -7px;
    padding-right: 0;
}

.whiteIcon {
    color: white;
    text-shadow: 1px 2px #3c3c3c;
    font-size: 1.33rem;
}

/*Footer*/
.footer {
    position: relative;
    font-family: 'Roboto Slab', serif;
    top: 83px;
    width: 100%;
    color: #1d1d1d;
    font-size: 1rem;
    background-color: rgba(140, 187, 46, 0.84);
    border-top: solid 3px #577619;
}
