/*GLOBAL STYLING & MEDIA QUERIES/RESPONSIVE STYLES*/

html,
body {
    width: 100%;
    min-height: 100%;
}

/*
div {
    border: 0.5px solid red;
}
*/

p.nopadding_bt {
    margin-bottom: 2px;
}

@media only screen and (max-width: 767px) {
    /*makes buttons block elements for smaller screens*/
    .ourButton {
        width: 80%;
        display: inline-block;
    }
}
@media only screen and (min-width: 992px) {
    p.lead {
        line-height: 0.1cm;
        }
}

/*background*/

/*MAIN CONTENT*/

/*>>title<<*/

h1.title {
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 4px 3px #464a4c;
    color: white
}

h1 span.title_ve {
    color: #9acd32;
    font-family: 'Delius Swash Caps', cursive;
    text-shadow: 2px 3px #6156e5;
}

.location {
    font-family: 'Delius Swash Caps', cursive;
    font-size: 2.0rem;
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px #7d78b7;
}

/*>>description<<*/

p.description {
    font-size: 1.75rem;
}

span.hangryRed {
    font-family: 'Permanent Marker';
    color: #fe956e;
    font-size: 2.45rem;
    color: rgb(214, 68, 59);
    text-shadow: 2px 3px #464a4c;
}

span.treat {
    font-family: 'Delius Swash Caps', cursive;
    font-size: 2.3rem;
    color: yellowgreen;
    font-family: 'Delius Swash Caps', cursive;
    text-shadow: 1px 3px #6156e5;
}

p.lead {
    display: block;
    width: 690px;
    margin: auto;
    padding: 2;
    font-size: 1.55em;
    font-weight: 300;
    text-align: center;
    line-height: 1cm;
    text-transform: lowercase;
    font-family: 'Delius Swash Caps', cursive;
    text-shadow: 1px 1px #6a669a;
}

/*>>choices<<*/

.ourButton {
    font-family: 'Roboto Slab', serif;
    background-color: #eeeff0;
    padding: 10px;
    display: inline-block;
    margin: 5px;
    position: relative;
    font-size: 1.75rem;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    border-radius: 5px;
    border-bottom: solid 1.5px rgba(165, 159, 229, 0.51);
    box-shadow: inset 0px 1px 0px #C8C6E0, 0px 7px 0px rgba(70, 74, 76, 0.46);
    border-radius: 10px;
    flex: 0 0 100%
}

.ourButton:hover {
    top: 7px;
    box-shadow: 0px 3px 10px #8883BC;
    color: #46445f;
    text-shadow: 1px 2px #f1f1f4;
    border-bottom: solid 0.5px #636089;
    box-shadow: 0px 3px 0px rgba(99, 96, 137, 0.68);
    background-color: #cecdde;
}

/*>>floating cloud<<*/

#cloud {
    width: 683px;
    height: 364px;
    z-index: -1;
    filter: drop-shadow( 2px 2px 2px rgba(8, 8, 8, 0.48));
    animation-name: floating;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    60% {
        transform: translate(0, 6px);
    }
    to {
        transform: translate(0, -0px);
    }
}

.parent {
    width: 100%;
    display: flex;
    /* required */
    flex-flow: row nowrap;
    /* required */
    bottom: 90px;
    position: relative;
    top: -100px;
}

.child {
    z-index: -1;
    position: absolute;
    width: 100%;
    /* required */
    flex: none;
    /* required */
}

.descri {}

.cloudFloat {
    filter: drop-shadow( 2px 2px 2px rgba(8, 8, 8, 0.48));
    animation-name: floating;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
