nav {
    background-color: rgba(124, 122, 150, 0.47);
}
body {
background: linear-gradient(148deg, #f8d7aa, #f2a1a1, #83dcf7);
background-size: 600% 600%;
-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}

#sidebar {
    background-color: pink;
}

div.shadow {
    box-shadow: 0px 4px 3px #81818261;
}
