div.info_1 {
	margin: 30px 20% 0 20%;
	border-color: #9acd32;
	padding: 10px;
}
div.info_1 p {
    text-align: justify;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
}
div.info_1 img {
	width: 20%;
	float:center;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.info_1 h2 {
    text-align: center;
}
div.info_1 h4 {
    text-align: center;
}
iframe {
    display: block;
    margin: 0 auto;
    border: 0;
}
span {
	font-family: 'Delius Swash Caps', cursive;
	color: #9acd32; 
}
textarea {
	width: 100%;
}
	h5 {
		font-family: 'Roboto Slab', serif;
	}
		
}