body {
    background: linear-gradient(148deg, #83dcf7,  #83dcf7);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 14%
    }
    50% {
        background-position: 100% 87%
    }
    100% {
        background-position: 0% 14%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 14%
    }
    50% {
        background-position: 100% 87%
    }
    100% {
        background-position: 0% 14%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 14%
    }
    50% {
        background-position: 100% 87%
    }
    100% {
        background-position: 0% 14%
    }
}

/*RESULTS*/

div.shadow {
    box-shadow: 0px 4px 3px rgba(136E, 136, 136, 0.81);
}

h1.title {
    font-family: 'Pacifico';
    font-size: 3.8rem;
    color: #d44343;
    text-shadow: 2px 3px #2c2929;
}

h4.description {
    font-size: 1.5rem;
    font-family: 'Delius Swash Caps', cursive;
}

div.RecommendStyle {
    background-color: rgba(212, 67, 67, 0.7);
}
